/* Set the background color of the map container */
#mapid {
    background-color: #f2f2f2;
}

/* Style the markers on the map */
.leaflet-marker-icon {
    background-color: purple;
    border-radius: 50%;
}

/* Style the popups that appear when a marker is clicked */
.leaflet-popup {
    background-color: white;
    color: black;
    padding: 10px;
}

/* Style the text inside the popups */
.leaflet-popup h3 {
    margin-top: 0;
    font-weight: bold;
}