#map {
    height: 100%;
}

body,
html {
    height: 100%;
}

h3 {
    margin: 10px;
}

strong {
    font-size: larger;
}
.legend {
    line-height: 18px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-left: 10px;
    opacity: 0.75
}